/*START OF FONTS*/
@font-face {
    font-family: 'IntroRust';
    src:url('css_font/introrustg-base2line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroHead';
    src: url('css_font/introheadr-base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroScript';
    src: url('css_font/introscriptr-h2base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansReg';
    src: url('css_font/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansSemi';
    src: url('css_font/sourcesanspro-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansBold';
    src: url('css_font/sourcesanspro-semiboldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*END OF FONTS*/

body{
    margin: 0px;
}

#main_container {

}

#heading_image {
    height: 420px;
    background-image: url(../images/chaunceypic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
}

#logo_image {
    margin-top: -400px;
    align-content: center;
    margin-bottom: 80px;
    margin-left: 40px;

}


/*NAVIGATION BAR*/
#navigation {
    background-color: #999999;
    text-align: center;
    color: #D7CEBD;
    font-size: 28pt;
    font-family: 'IntroRust';
    height: 75px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999999;
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #4D4D4D;
    text-align: center;
}
/*NAVIGATION BAR*/

/*BODY TAGS*/
h1 {
    font-family: 'IntroRust';
    font-size: 80pt;
    color: #D7CEBD;
    text-align: center;
    line-height: 5px;
}

h2 {
    color: white;
    font-size: 36px;
    text-align: center;
    font-family: 'IntroHead';
    line-height: 20px;
}

p {
    font-size: 18px;
    color: white;
    text-align: left;
    font-family: 'SourceSansReg';
    margin: 25px;
}

h3 {
    color: #D7CEBD;
    font-size: 70px;
    text-align: center;
    font-family: 'IntroScript';
    line-height: 1px;
}

#graphic_pic {
    width: 300px;
    height: 200px;
    margin-left: 25px;
    margin-right: 25px
}

#photo_pic {
    width: 300px;
    height: 200px;
    margin-left: 25px;
    margin-right: 25px
}

#music_pic {
    width: 200px;
    height: 200px;
    margin-left: 25px;
    margin-right: 25px
}
