/*START OF FONTS*/
@font-face {
    font-family: 'IntroRust';
    src:url('css_font/introrustg-base2line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroHead';
    src: url('css_font/introheadr-base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroScript';
    src: url('css_font/introscriptr-h2base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansReg';
    src: url('css_font/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansSemi';
    src: url('css_font/sourcesanspro-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansBold';
    src: url('css_font/sourcesanspro-semiboldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*END OF FONTS*/

body{
    margin: 0px;
}

#main_container {
    background-image: url(../images/fredrick2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 2050px
}

#heading_image {
    height: 420px;
    background-image: url(../images/DSC_0373.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
}

#logo_image {
    margin-top: -400px;
    align-content: center;
    margin-bottom: 80px;
    margin-left: 40px;

}

/* Start Navigation Bar */
#navigation {
    background-color: #999999;
    text-align: center;
    color: #D7CEBD;
    font-size: 28pt;
    font-family: 'IntroRust';
    height: 75px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999999;
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #6D6D6D;
    text-align: center;
    transition-duration: .5s;
}

.active {
    background-color: #6D6D6D
}
/* End Navigation Bar */

/* BODY TAGS */
h1 {
    font-family: 'IntroRust';
    font-size: 80pt;
    color: #D7CEBD;
    text-align: center;
    line-height: 5px;
}

h2 {
    color: white;
    font-size: 36px;
    text-align: center;
    font-family: 'IntroHead';
    line-height: 5px;
    margin-bottom: 50px;
}

p {
    font-size: 18px;
    color: white;
    text-align: left;
    font-family: 'SourceSansReg';
    margin: 25px;
    margin-top: -10px;
    line-height: 29px
}

h3 {
    color: #D7CEBD;
    font-size: 80px;
    font-family: 'IntroScript';
    line-height: .0px;
    text-align: center
}

/* Start Bio Pictures */
#graphic_pic {
    width: 300px;
    height: 200px;
    margin-left: 25px;
    margin-right: 25px;
    border: 4px solid white;
}

#photo_pic {
    width: 300px;
    height: 200px;
    margin-left: 25px;
    margin-right: 25px;
    border: 4px solid white;
}

#music_pic {
    width: 250px;
    height: 250px;
    margin-left: 25px;
    margin-right: 25px
    margin-right: 25px;
    border: 4px solid white;
}
/* End Bio Pictures */

/* Start Invisble Boxes */
.container {
    border-radius: 5px;
    background-color: #999999;
    padding: 20px;
    margin: 50px;
    color: white;
    font-family: 'IntroRust';
    font-size: 25px;
}

.container_chaunc {
    border-radius: 5px;
    padding: 5px;
    margin: 27px;
    color: white;
    font-family: 'IntroRust';
    font-size: 25px;
    margin-left: 350px;
}

.container_chaunc2 {
    border-radius: 5px;
    padding: 5px;
    margin: 27px;
    color: white;
    font-family: 'IntroRust';
    font-size: 25px;
    margin-right: 350px
}

.container_chaunc3 {
    border-radius: 5px;
    padding: 5px;
    margin: 27px;
    color: white;
    font-family: 'IntroRust';
    font-size: 25px;
    margin-left: 300px
}
/* End Invisible Boxes */

/* Start Contact Form */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'SourceSansReg';
    font-size: 12px
}

input[type=submit] {
    background-color: #D7CEBD;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'IntroScript';
    font-size: 25px;
}

input[type=submit]:hover {
    background-color: #4D4D4D;
    transition-duration: .5s;
}
/* End Contact Form */
